body {
  font-family: system-ui;
  background-image: radial-gradient(white, grey);
  color: #323233;
  text-align: left;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%,
    #fdf497 0%, 
    #fdf497 5%, 
    #fd5949 45%, 
    #d6249f 60%, 
    #285AEB 90%);
  color: white;           /* icon color */
  border-radius: 50%;     /* circle shape */
  padding: 15px;
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.fa-facebook { background: #1877F2; }
.fa-tiktok { background: #000000; }

.fa-brands {
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.fa-brands:hover {
  opacity: 0.8;  /* subtle fade effect */
}
